.tradein-heading-block {
	margin-top: 100px;
}

span {
	display: inline;
}

.tradein-section {
	height: 1110px;
}

.tradein-paragraph {
	font-size: 18px;
}

.tradein-heading-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.tradein-heading {
	margin-top: 0;
	margin-bottom: 40px;
}

.tradein-heading {
	margin-top: 0;
}

.buttons-block {
	display: flex;
}

.buttons-block div:nth-child(2) {
	margin-left: 20px;
}

.tradein-buttons {
	margin-top: 60px;
}

/* .blue-bubble {
	width: 262px;
	height: 262px;

	background: rgba(2, 176, 251, 0.6);
	backdrop-filter: blur(20px);
	border-radius: 50%;

	font-size: 24px;
	line-height: 1.16;
	font-weight: 700;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
} */

.background-bubble {
	width: 782px;
	height: 782px;
	background: linear-gradient(
		348.11deg,
		#07b1fd 9.95%,
		rgba(7, 177, 253, 0) 90.11%
	);
	border-radius: 50%;
}

.car-block {
	margin-top: 45px;
	display: flex;
	flex-direction: column;

	position: relative;
}

.car {
	position: absolute;
	top: 87px;
	left: -12%;
	z-index: -2;
}

.blue-bubble {
	position: absolute;
	z-index: -1;
}

.background-bubble {
	position: absolute;
	z-index: -3;
	top: -120px;
	left: 19%;
}

.car-block .blue-bubble:first-child {
	top: 45px;
	left: 856px;
}

.car-block .blue-bubble:nth-child(2) {
	top: 367px;
	left: 220px;
}

@media (max-width: 1920px) {
	.car img {
		width: 100%;
		left: -15%;
	}

	.car-block .blue-bubble:first-child {
		top: 45px;
		left: 50%;
	}

	.car-block .blue-bubble:nth-child(2) {
		top: 320px;
		left: 15%;
	}

	.background-bubble {
		position: absolute;
		z-index: -3;
		top: -120px;
		left: 5%;
	}
}

@media (max-width: 1110px) {
	.background-bubble {
		width: 500px;
		height: 500px;
	}
}
