.dropdown-container {
  position: relative;
  /* padding-top: 100px; */
  /* margin-top: 100px; */
}

.container-arrow {
  width: 50px;
  height: 50px;
  top: -22px;
  left: 75px;

  border-radius: 7px;
  background-color: white;
  transform: rotate(140deg) translateY(-65px) translateX(-15px);
  position: absolute;
}
