header {
  margin-top: 2.7%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
}

ul {
  gap: 25px;
  display: flex;
}

li {
  list-style: none;
}

span {
  display: flex;
  align-items: center;
}

.phoneLink {
  text-decoration: none;
  color: #fff;
}

.header-menu-list li > a {
  color: var(--text-color-white);
  text-decoration: none;
}

.phoneLink img {
  margin-right: 11px;
}

.burgerMenu {
  gap: 9px;
}

.burgerMenu div:first-child {
  margin: 0;
}

.burgerMenu div {
  width: 30px;
  height: 2px;
  background: var(--text-color-white);
  margin-top: 9px;
}

.burgerMenu:hover {
  cursor: pointer;
}

.dropdown-block {
  position: relative;
}
