.root-hero {
  border: 1px solid red;
  min-height: 980px;
  z-index: 12;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-subcontent {
  display: flex;
  gap: 80px;
  margin-top: 60px;
  color: var(--text-color-white);
}

.text-subcontent div span {
  display: block;
}

.text-subcontent div span:first-child {
  font-weight: 700;
  font-size: 30px;
}

.text-subcontent div span:nth-child(2) {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 400;
}

.hero-heading {
  margin-top: 163px;
  margin-bottom: 0;
}
