.consulting-background {
	background: var(--bg-color-blue);
	position: relative;
	overflow: hidden;
	padding-bottom: 90px;
	height: 920px;
}

.bubble {
	font-size: 30px;
	line-height: 1.2;
	position: absolute;
	top: 490px;
	left: 53%;
	z-index: 2;
}

.car {
	z-index: 1;
	top: -12.5px;
	left: 33.5%;
	position: absolute;
}

.content {
	z-index: 5;
}

@media (max-width: 1920px) {
	.bubble {
		font-size: 14px;
	}
}
