.bank-item {
  border: 0.5px solid #e8e8ee;
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bank-item img:hover {
  cursor: pointer;
  /* filter: grayscale(90%); */
  /* filter: saturate(0); */
}
