.section-heading {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.2;
	color: var(--heading-color);
}

.section-span {
	color: var(--bg-color-blue);
}

@media (max-width: 1600px) {
	.section-heading {
		font-size: 32px;
	}
}
