.stepNum {
	padding: 10px 16px;
}

.step {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 250px;
	width: 100%;
}

.line::after {
	content: '';

	position: absolute;
	top: 13%;
	left: 84%;
	height: 1px;
	width: 148px;
	background: var(--text-gray);
}

.title {
	text-align: center;
	margin: 20px 0 10px 0;
	font-weight: 700;
	font-size: 24px;
	color: var(--bg-color-blue);
}

.description {
	text-align: center;
	font-size: 16px;
	line-height: 1.6;
	color: var(--text-paragraph);
}

@media (max-width: 1500px) {
}
