.application-container {
  margin: 0 auto;
  max-width: 85%;
  width: 100%;
}

.notfound-page {
  margin-top: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 62px;
  color: var(--text-black);
}

.notfound-page p:first-child {
  font-weight: 700;
}

.notfound-page p:nth-child(2) {
  margin-top: 10px;
}
