.showLink {
	font-size: 18px;
	line-height: 1.6;
	color: var(--text-paragraph);
	display: flex;
	justify-content: baseline;
	align-items: center;
}

.choosecar-heading {
	margin: 42px 0;
}

.choosecar-section {
	padding-bottom: 66px;
}

.showLink img {
	margin-left: 15px;
}

.head-block {
	display: flex;
	justify-content: space-between;
}

.cars-block {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-row-gap: 40px;
}

@media (max-width: 1110px) {
	.cars-block {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 880px) {
	.cars-block {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 700px) {
	.cars-block {
		justify-items: center;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 550px) {
	.head-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;
	}

	.choosecar-heading {
		margin-bottom: 10px;
	}

	.showLink {
		margin-top: 0;
	}
}
