.menu-block {
	display: none;
	position: absolute;

	top: 20px;
}

.menu-block ul {
	display: flex;
	flex-direction: column;
	background: var(--text-color-white);

	border-radius: 10px;
	padding-left: 10px;
	padding-top: 15px;
	height: 200px;
	width: 120px;
}

.menu-block a {
	color: var(--heading-color);
	font-weight: 700;
}

.active {
	display: block;
}

.menu-container {
	position: relative;
}

.burgerMenu {
}

.burgerMenu {
	gap: 9px;
}

.burgerMenu div:first-child {
	margin: 0;
}

.burgerMenu div {
	width: 30px;
	height: 2px;
	background: var(--text-color-white);
	margin-top: 9px;
}

.header-light.burgerMenu div {
	background: var(--bg-color-blue);
}

.burgerMenu:hover {
	cursor: pointer;
}
