/* common styles */

:root {
  --btn-color-red: #fe264c;
  --bg-color-blue: #07b1fd;
  --text-color-white: #fff;
  --text-paragraph: #696969;
  --text-gray: #f3f3f3;
  --text-black: #000;
  --heading-color: #2c2c2c;
}

body {
  font-family: "PT Root UI";
  color: var(--text-color-white);
}

/* UI Components */

.section-heading {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1;
  color: var(--heading-color);
}

.amount-box {
  border-radius: 9px;
  background: var(--text-gray);
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-black);
  font-weight: 400;
  font-size: 18px;
}
