@font-face {
  font-family: "PT Root UI";
  src: url("./fonts/PT-Root-UI/PT-Root-UI_Regular.woff2") format("woff2"),
    url("./fonts/PT-Root-UI/PT-Root-UI_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Root UI";
  src: url("./fonts/PT-Root-UI/PT-Root-UI_Medium.woff2") format("woff2"),
    url("./fonts/PT-Root-UI/PT-Root-UI_Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "PT Root UI";
  src: url("./fonts/PT-Root-UI/PT-Root-UI_Bold.woff2") format("woff2"),
    url("./fonts/PT-Root-UI/PT-Root-UI_Bold.woff") format("woff");

  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
